#score{
    margin-left: 10px;
    font-size: 20px;
    font-family:cursive;
}
#timer{
    float: right;
    margin-right: 10px;
    font-size: 20px;
    font-family: cursive;
}
body{
    background-color: greenyellow;
}
h1{
    background-color: cornsilk;
    color: rgb(38,0,255);
    font-family:cursive;
    text-align: center;
}
#show_sketch{
    float: right;
    margin-right: 10px;
}
p{
    font-family: cursive;
    font-size: 25px;
    color: black;
}
#sketch_to_be_drawn{
    font-family: cursive;
    font-size: 25px;
    color: red;
}